html,
body,
.intro {
  height: 100%;
}

table td,
table th {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.card {
  border-radius: .5rem;
}

.mask-custom {
  background: rgba(24, 24, 16, .2);
  border-radius: 2em;
  backdrop-filter: blur(25px);
  border: 2px solid rgba(255, 255, 255, 0.05);
  background-clip: padding-box;
  box-shadow: 10px 10px 10px rgba(46, 54, 68, 0.03);
}

hr{
width: 100%;
top: 543px;
left: 417px;
gap: 0px;
border: 1px 0px 0px 0px;
opacity: 0px;

}
button .btn-danger{
  border-color: none;
      border-radius: '9px';
 background-color:#ff3333 ;
}
thead{
 background-color:blue;
 color: aqua;
  margin: "2px" 
}
